@media screen and (min-width: 899px) {
    .explore {
        position: relative;
        width: 90%;
        left: 5%;


        p {
            text-align: center;
            font-family: 'Kavivanar', cursive;
            font-size: 20px;
            font-weight: 500;
            color: #7e03dd;
        }

        .options {
            width: 70%;
            margin-left: 15%;
            padding-top: 1.8%;
            height: 400px;
            display: flex;
            justify-content: space-evenly;

            .kar1,
            .kar2 {
                border-radius: 20px;
                box-shadow: 0px 0px 10px #b3b3b3;
                background: #fff;
                width: 29.7%;
                height: 350px;

                img {
                    border-radius: 20px 20px 0px 0px;
                    width: 284px;
                    height: 250px;
                    margin-bottom: 5%;
                }

                h4 {
                    color: var(--accent);
                    margin-left: 5%;
                    font-weight: 600;
                    font-family: "Kavivanar", cursive;
                }

                a {
                    margin-left: 5%;
                    text-decoration: none;
                    font-family: "Karla Tamil Inclined", cursive;
                    font-size: 17px;
                    color: #595454;
                    font-weight: 800;
                    padding-bottom: 50px;
                }

            }
        }
    }
}


@media screen and (max-width: 898px) {
    .explore {
        position: relative;
        width: 80%;
        left: 10%;


        p {
            text-align: center;
            font-family: "Kavivanar", cursive;
            font-size: 16px;
            font-weight: 500;
            color: #7e03dd;
        }

        .options {
            width: 100%;
            margin-top: 50px;
            margin-left: 10%;
            padding-top: 1.8%;
            height: 400px;
            display: grid;
            grid-template-rows: 50% 50%;
            gap: 200px;

            .kar1,
            .kar2 {
                border-radius: 20px;
                box-shadow: 0px 0px 10px #b3b3b3;
                background: #fff;
                width: 79.7%;
                height: 310px;

                img {
                    /* display: none; */
                    border-radius: 20px 20px 0px 0px;
                    width: 254px;
                    height: 220px;
                    margin-bottom: 5%;
                }

                h4 {
                    color: var(--accent);
                    margin-left: 5%;
                    font-weight: 600;
                    font-family: "Kavivanar", cursive;
                }

                a {
                    margin-left: 5%;
                    text-decoration: none;
                    font-family: "Karla Tamil Inclined", cursive;
                    font-weight: 800;
                    font-size: 17px;
                    color: #595454;
                    padding-bottom: 50px;
                }

            }
        }
    }
}