@media screen and (min-width:899px) {
    .en-Gallary {
        position: relative;
        width: 90%;
        left: 5%;
        margin-top: 2%;
        margin-bottom: 50px;
        /* border: 2px solid #000; */

        h3 {
            color: #7e03dd;
            text-align: center;
            font-family: "Outfit", sans-serif;
        }

        .en-carousel {

            width: 90%;
            max-width: 1200px;
            height: 550px;
            position: relative;
            top: 50px;
            /* Fixed height */
            margin: auto;
            overflow: hidden;
            position: relative;
            border-radius: 12px;
        }

        .en-carousel-track {
            display: flex;
            width: 100%;
            height: 100%;
            transition: transform 0.en-5s ease-in-out;
        }

        .en-carousel-slide {
            min-width: 100%;
            width: 100%;
            height: 100%;
            flex-shrink: 0;
        }

        .en-carousel-slide img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            /* Makes every image same size */
        }
    }

}

@media (max-width: 898px) {
    .en-Gallary {
        position: relative;
        width: 90%;
        left: 5%;
        margin-top: 80%;
        padding: 50px 0;
    }

    .en-Gallary h3 {
        text-align: center;
        font-family: "outfit",sans-serif;
        color: #7e03dd;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .en-carousel{
        position: relative;
        margin: 5%;
        top: 30px;
    }

    .en-carousel {
        width: 90%;
        height: 220px;
        overflow: hidden;
        border-radius: 20px;
    }

    .en-carousel-track {
        display: flex;
        flex-direction: row;
    }

    .en-carousel-track {
        transition: transform 0.en-5s ease-in-out;
        transition: transform 0.en-6s cubic-bezier(0.en-22, 1, 0.en-36, 1);
        will-change: transform;
    }

    .en-carousel-slide {
        flex: 0 0 100%;
    }

    .en-carousel-slide img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    .en-prev,
    .en-next {
        width: 35px;
        height: 35px;
        padding: 0;
        font-size: 18px;
        border-radius: 50%;
    }

    .en-prev {
        left: 8px;
    }

    .en-next {
        right: 8px;
    }
}