@media screen and (min-width:899px) {
    .en-dev {
        margin: 3% 5% 5% 5%;

        h3 {
            text-align: center;
            color: #8c04f5;
            font-family: 'Poppins', sans-serif;
        }

        .en-cards {
            display: grid;
            grid-template-rows: 50% 50%;
            margin-top: 70px;
            gap: 50px;

            .en-crd1,
            .en-crd2 {
                display: flex;
                justify-content: space-evenly;
            }

            .en-crd {
                position: relative;
                width: 20.3%;
                height: 450px;
                border-radius: 20px;
                background: #ffffff;
                box-shadow: 0px 0px 7px 2px #e5e5e5;

                h4 {
                    font-family: 'Poppins', sans-serif;
                    margin: 4%;
                    color: #8c04f5;
                }

                img {
                    width: 278px;
                }

                p {
                    margin: 4%;
                    text-align: justify;
                    font-family: 'Outfit', sans-serif;
                    font-size: 16px;
                    color: #141414;

                }

                a {
                    font-size: 16px;
                    margin: 5%;
                    font-weight: 500;
                    text-decoration: none;
                    color: #8c04f5;
                }
            }
        }
    }
}

@media screen and (max-width:898px) {
    .en-dev {
        margin: 3% 5% 5% 5%;

        h3 {
            text-align: center;
            color: #8c04f5;
            font-family: 'Poppins', sans-serif;
        }

        .en-cards {
            display: grid;
            grid-template-rows: 50% 50%;
            margin-top: 70px;
            gap: 50px;

            .en-crd1,
            .en-crd2 {
                display: grid;
                gap: 50px;
            }

            .en-crd2 {
                margin-top: 200px;
            }

            #rmr {
                margin-top: -120px;
            }

            .en-crd {
                position: relative;
                width: 80%;
                height: fit-content;
                left: 10%;
                padding-bottom: 20px;
                border-radius: 20px;
                background: #ffffff;
                box-shadow: 0px 0px 7px 2px #e5e5e5;

                h4 {
                    font-family: 'Poppins', sans-serif;
                    margin: 4%;
                    color: #8c04f5;
                }

                img {
                    width: 287.6px;
                }

                p {
                    margin: 4%;
                    text-align: justify;
                    font-family: 'Outfit', sans-serif;
                    font-size: 16px;
                    color: #141414;

                }

                a {
                    font-size: 16px;
                    margin: 5%;
                    font-weight: 500;
                    text-decoration: none;
                    color: #8c04f5;
                }
            }
        }
    }
}