:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: rgb(140, 4, 245);
  /* --accent: #aa3bff; */
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 99;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: var(--accent);
  color: #000;
  cursor: pointer;
  text-align: center;
  border-radius: 100px;
  padding: 2px;
}

#mybtn #sv {
  width: 1px;
}

#myBtn img {
  display: block;
  width: 90%;
  margin-left: 2px;
}

#myBtn:hover {
  transition: .5s ease;
  background-color: #6602b3;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  overflow-x: hidden;

  /* Dark Background */
  background-color: #fff;

  /* Grid */
  background-image:
    linear-gradient(rgba(141, 4, 245, 0.123) 1px, transparent 1px),
    linear-gradient(90deg, rgba(141, 4, 245, 0.123) 1px, transparent 1px);

  background-size: 50px 50px;
}

.container {
  min-height: fit-content;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
}

#preloader {
  background: url(./assets/Summer/vanloadg.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  top: 0%;
  position: fixed;
  z-index: 100;
}

@media screen and (max-width:898px) {
  #preloader {
    background: url(./assets/Summer/vanloadg.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 100;
  }
}